
h1 {
    margin-left: 20%;
}
body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}

input:invalid {
    border: red solid 3px;
}

.container input {
    width: 100%;
  }

#submitInput {
    margin-left: 45%;
}


form > div {
    margin: 1em;
}